<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css"> 
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{{ site.baseurl }}/index.html">
                    <img src="{{ site.baseurl }}/media/BUS-logo.svg" alt="BUS Logo" class="logo">
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="{{ site.baseurl }}/index.html#projecten">Projecten</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                <li><a href="{{ site.baseurl }}/index.html#over-bus">Over BUS</a></li>
                <li><a href="{{ site.baseurl }}/index.html#contacty" id="nav-contact-btn">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>© Breunis Urban Solutions 2026 {{ site.name }}</p>
    </footer>

</body>
</html>