<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css"> 
    <!-- We load a tiny tool called Marked to convert Markdown to HTML -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{{ site.baseurl }}/index.html">
                    <img src="{{ site.baseurl }}/media/BUS-logo.svg" alt="BUS Logo" class="logo">
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="{{ site.baseurl }}/index.html#projecten">Projecten</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                <li><a href="{{ site.baseurl }}/index.html#over-bus">Over BUS</a></li>
                <li><a href="{{ site.baseurl }}/index.html#contacty" id="nav-contact-btn">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="post-content">

        {% if page.cover %}
        <div class="post-thumbnail">
            <img
                src="{{ page.cover | relative_url }}"
                alt="{{ page.cover_image_alt | default: page.title }}">
        </div>
        {% endif %}

        <h1>{{ page.title }}</h1>

        <p class="post-date">
            {{ page.date | date: "%B %d, %Y" }}
        </p>

        <div class="post-body">
            {% assign market_path = 'src="' | append: site.baseurl | append: '/media/blog/' %}
            {{ content | replace: 'src="/media/blog/', market_path }}
        </div>

    </main>
</body>
</html>